@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>Frank Fajardo</h3>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/frankfajardo">github.com/frankfajardo</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/frankiefajardo/">www.linkedin.com/in/frankiefajardo</a><br />
    <strong>Stackoverflow:</strong> <a href="https://stackoverflow.com/users/1577058/frank-fajardo">stackoverflow.com/users/1577058/frank-fajardo</a><br />
    <strong>Tweeter:</strong> <a href="https://twitter.com/frankie_fajardo">&#64;frankie_fajardo</a>
</address>
