@model NameAndAmountInput
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal">
    <h4>Enter name and amount</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <p>
        Enter your name and an amount, and enclose the amount in double quotes. <br />
        For example: John Smith "423.12"
    </p>
    <div class="form-group">
        <label asp-for="NameAndAmount" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NameAndAmount" class="form-control" />
            <span asp-validation-for="NameAndAmount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Show in Words</button>
        </div>
    </div>
</form>
