@{
    ViewData["Title"] = "Result";
}
<h2>@ViewData["Title"]</h2>

<p>
    <strong>You entered:</strong>
    <br />
    @ViewData["InputText"]
</p>
<p>
    <strong>In words:</strong>
    <br />
    @ViewData["InWords"]
</p>
<br />
<a asp-action="index" asp-controller="home" class="btn btn-primary">Enter another</a>
